.css-187mznn-MuiSlider-root {
    border-radius: 12px;
    box-sizing: content-box;
    display: inline-block;
    position: relative;
    cursor: pointer;
    touch-action: none;
    color: #1976d2;
    -webkit-tap-highlight-color: transparent;
    height: 20px;
    width: 100%;
    padding: 13px 0;
}