* {
  outline: 1px solid red;
}

.App {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
}

body {
  background-image: url('./assets/images/historyphoto.avif');
}

h1 {
  text-align: center;
}