/* * {
  outline: 1px solid red;
} */

.app {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  margin-bottom: 1rem;
  font-family: 'Arvo', serif;;
  overflow: hidden;
}

body {
  background-image: url('./assets/images/bimdbackground.jpeg');
  overflow: auto;
}

h1 {
  text-align: center;
}

/* // Media Queries */

/* Extra small devices (phones, 600px and down) */
/* @media screen and (max-width: 600px) {
  .app {
    align-items: center;
    color: white;
    display: flex;
    margin-top: 6%;
    margin-bottom: 10%;
    flex-direction: column;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media screen and (min-width: 600px) {
  .app {
    align-items: center;
    color: white;
    display: flex;
    margin-top: 6%;
    margin-bottom: 10%;
    flex-direction: column;
  }
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
  .app{
    max-height: 100vh;
  
  }
}   */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {

} */